{% extends "layouts/layout-govuk.njk" %}

{% set mainClasses = "govuk-main-wrapper--l" %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-l">500 Server Error  </h1>
            <p class="govuk-body">
            Oops,something went wrong at {{" - " +requestId if requestId else "" }}
            </p>
            <p class="govuk-body">
             The server encountered an internal error.
            </p>
            <p class="govuk-body">
             You can try to <a href="/" class="govuk-link">go to the home page </a>.
            </p>
        </div>
    </div>
{% endblock %}