{% extends "layouts/layout-govuk.njk" %}

{# TODO: Sort out super title & how to pass it in #}
{% set title = "Terms and Conditions" %}
{% block pageTitle %}{{title}}{% endblock %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            <h1 class="govuk-heading-xl">
                Terms and Conditions
            </h1>

            <p class="govuk-body-m">
                VERSION EFFECTIVE FROM 07 DECEMBER 2022
            </p>

            <h2 class="govuk-heading-m">
                General information
            </h2>
            <p class="govuk-body-m">
                This page and any pages it links to explain the Department for Transport (<strong>DfT</strong>)'s Find Transport Data Digital Service (<strong>Find Transport Data</strong>) terms and conditions of use (the <strong>Terms of Use</strong>). By using Find Transport Data you agree to be bound by these Terms of Use.
            </p>
            <p class="govuk-body-m">
                In these Terms of Use &quot;you&quot; means the person or persons accessing Find Transport Data whether on their own accord or on behalf of another person whether as their employee, contractor, agent or otherwise.
            </p>

            <h2 class="govuk-heading-m">
                Who we are
            </h2>
            <p class="govuk-body-m">
                DfT is a department of His Majesty's Government responsible for the English transport network. DfT will be referred to as 'we' or 'us' from now on throughout these Terms of Use.
            </p>

            <h2 class="govuk-heading-m">
                Service
            </h2>
            <p class="govuk-body-m">
                You can use Find Transport Data to access data held by government departments and agencies, local authorities, service providers or other organisations relating to the UK transport systems.
            </p>
            <p class="govuk-body-m">
                Some data sets may have their own terms and conditions which also apply - read these before you access the relevant data set.
            </p>

            <h2 class="govuk-heading-m">
                Use
            </h2>
            <p class="govuk-body-m">
                You agree to use Find Transport Data only for lawful purposes. You must also use it in a way that does not infringe the rights of, or restrict or inhibit the use and enjoyment of, this site by anyone else.
            </p>
            <p class="govuk-body-m">
                We update Find Transport Data all the time as part of our commitment to continuous service improvement. We can change or remove content at any time without notice.
            </p>

            <h2 class="govuk-heading-m">
                Linking to Find Transport Data
            </h2>
            <p class="govuk-body-m">
                We welcome and encourage other websites to link to Find Transport Data.
            </p>
            <p class="govuk-body-m">
                You must <a href="https://www.gov.uk/government/organisations/department-for-transport">contact us</a> or permission if you want to either:
            </p>
            <ul class="govuk-list govuk-list--bullet">
                <li>charge your website's users to click on a link to any page on Find Transport Data; or</li>
                <li>say your website is associated with or endorsed by us or another government department or agency</li>
            </ul>

            <h2 class="govuk-heading-m">
                Linking from Find Transport Data
            </h2>
            <p class="govuk-body-m">
                Find Transport Data links to websites that are managed by other government departments and agencies, service providers or other organisations. We do not have any control over the content on these websites.
            </p>
            <p class="govuk-body-m">
                We're not responsible for:
            </p>
            <ul class="govuk-list govuk-list--bullet">  
                <li>the protection of any information or data you give to these websites; or</li>
                <li>any loss or damage that may come from your use of these websites, or any other websites they link to</li>
            </ul>
            <p class="govuk-body-m">
                You agree to release us from any claims or disputes that may come from using these websites.
            </p>
            <p class="govuk-body-m">
                You should read all terms and conditions, privacy policies and end user licences that relate to these websites before you use them.
            </p>

            <h2 class="govuk-heading-m">
                Using Find Transport Data content
            </h2>
            <p class="govuk-body-m">
                Some content on Find Transport Data is subject to <a href="https://www.nationalarchives.gov.uk/information-management/re-using-public-sector-information/uk-government-licensing-framework/crown-copyright/">Crown copyright protection</a>. All Find Transport Data content is published under the <a href="http://www.nationalarchives.gov.uk/doc/open-government-licence/version/1/open-government-licence.htm">Open Government Licence</a> (<strong>OGL</strong>).
            </p>
            <p class="govuk-body-m">
                Some content is exempt from the OGL – check the <a href="http://www.nationalarchives.gov.uk/doc/open-government-licence/version/1/open-government-licence.htm">list of exemptions</a>.
            </p>
            <p class="govuk-body-m">
                Departmental logos and crests are also exempt from the OGL, except when they form an integral part of a document or dataset.
            </p>
            <p class="govuk-body-m">
                If any content is not subject to Crown copyright protection or published under the OGL, we'll usually credit the author or copyright holder.
            </p>
            <p class="govuk-body-m">
                You can reproduce content published on Find Transport Data under the OGL as long as you follow the licence's conditions.
            </p>
            <p class="govuk-body-m">
                <a href="https://www.gov.uk/government/organisations/department-for-transport">Contact us</a> if you want to reproduce a piece of content but are not sure if it's covered by Crown copyright or the OGL.
            </p>
            <p class="govuk-body-m">
                We may make some of the content on Find Transport Data available through feeds for other websites and applications to use. The websites and applications that use our feeds are not our products, and they might use versions of our content that have been edited and stored for later use (‘cached').
            </p>
            <p class="govuk-body-m">
                We do not give any guarantees, conditions or warranties about the accuracy or completeness of any content used by these products. We're not liable for any loss or damage that may come from your use of these products.
            </p>
            <p class="govuk-body-m">
                The most up to date version of our content will always be on Find Transport Data.
            </p>

            <h2 class="govuk-heading-m">
                Disclaimer
            </h2>
            <p class="govuk-body-m">
                While we make every effort to keep Find Transport Data up to date, we do not provide any guarantees, conditions or warranties that the information or data will be:
            </p>
            <ul class="govuk-list govuk-list--bullet">
                <li>current</li>
                <li>secure</li>
                <li>accurate</li>
                <li>available</li>
                <li>complete; or</li>
                <li>free from bugs or viruses</li>
            </ul>
            <p class="govuk-body-m">
                We do not publish advice on Find Transport Data. You should get professional or specialist advice before doing anything on the basis of the content.
            </p>
            <p class="govuk-body-m">
                We're not liable for any loss or damage that may come from using Find Transport Data or relying on the data or information held in or linked to or from Find Transport Data. This includes:
            </p>
            <ul class="govuk-list govuk-list--bullet">
                <li>any direct, indirect, special or consequential losses</li>
                <li>any loss or damage caused by civil wrongs (‘tort', including negligence), breach of contract or otherwise</li>
                <li>the use of Find Transport Data and any websites that are linked to or from it; and</li>
                <li>the inability to use Find Transport Data and any websites that are linked to or from it</li>
            </ul>
            <p class="govuk-body-m">
                This applies if the loss or damage was foreseeable, arose in the normal course of things or you advised us that it might happen.
            </p>
            <p class="govuk-body-m">
                This includes (but is not limited to) the loss of your:
            </p>
            <ul class="govuk-list govuk-list--bullet">
                <li>income or revenue</li>
                <li>salary, benefits or other payments</li>
                <li>business</li>
                <li>profits or contracts</li>
                <li>opportunity</li>
                <li>anticipated savings</li>
                <li>data</li>
                <li>goodwill or reputation</li>
                <li>tangible property</li>
                <li>intangible property, including loss, corruption or damage to data or any computer system; and</li>
                <li>wasted management or office time</li>
            </ul>
            <p class="govuk-body-m">
                We may still be liable for:
            </p>
            <ul class="govuk-list govuk-list--bullet">
                <li>death or personal injury arising from our negligence</li>
                <li>fraudulent misrepresentation; and</li>
                <li>any other liability which cannot be excluded or limited under applicable law</li>
            </ul>

            <h2 class="govuk-heading-m">
                Requests to remove content
            </h2>
            <p class="govuk-body-m">
                You can ask for content to be removed from Find Transport Data. We'll remove content:
            </p>
            <ul class="govuk-list govuk-list--bullet">
                <li>in order to comply with data protection legislation covering the rights and freedoms of individuals; or</li>
                <li>if it breaches copyright laws, contains sensitive personal data or material that may be considered obscene or defamatory</li>
            </ul>
            <p class="govuk-body-m">
                <a href="https://www.gov.uk/government/organisations/department-for-transport">Contact us</a> to ask for content to be removed. You'll need to send us the web address (URL) of the content and explain why you think it should be removed. We'll reply to let you know whether we'll remove it.
            </p>
            <p class="govuk-body-m">
                We remove content at our discretion in discussion with the department or agency responsible for it. You can still request information under the <a href="https://www.gov.uk/make-a-freedom-of-information-request">Freedom of Information Act</a> and the <a href="https://www.gov.uk/data-protection">Data Protection Act</a>.
            </p>

            <h2 class="govuk-heading-m">
                Information about you and your visits to Find Transport Data
            </h2>
            <p class="govuk-body-m">
                We collect information about how you use Find Transport Data. Our <a href="/privacy">Privacy Notice</a> and <a href="https://www.gov.uk/government/organisations/department-for-transport/about/personal-information-charter">Personal Information Charter</a> have more information about how we use your personal data, your rights in relation to your personal data, how to complain and how to contact the Data Protection Officer. 
            </p>

            <h2 class="govuk-heading-m">
                Security and Virus Protection
            </h2>
            <p class="govuk-body-m">
                We make every effort to check and test Find Transport Data for viruses at every stage of production. When you view data on Find Transport Data, you do so at your own risk. You must make sure that the way you use Find Transport Data does not expose you to the risk of viruses, malicious computer code or other forms of interference which can damage your computer system.
            </p>
            <p class="govuk-body-m">
                We're not responsible for any loss, disruption or damage to your data or computer system that might happen when you use Find Transport Data.
            </p>

            <h2 class="govuk-heading-m">
                Viruses, hacking and other offences
            </h2>
            <p class="govuk-body-m">
                When using Find Transport Data, you must not introduce viruses, trojans, worms, logic bombs or any other material that's malicious or technologically harmful.
            </p>
            <p class="govuk-body-m">
                You must not try to gain unauthorised access to Find Transport Data, the server on which it's stored or any server, computer or database connected to it.
            </p>
            <p class="govuk-body-m">
                You must not attack Find Transport Data in any way. This includes denial-of-service attacks.
            </p>
            <p class="govuk-body-m">
                We'll report any attacks or attempts to gain unauthorised access to Find Transport Data to the relevant law enforcement authorities and share information about you with them.
            </p>

            <h2 class="govuk-heading-m">
                Governing law
            </h2>
            <p class="govuk-body-m">
                These Terms of Use are governed by and construed in accordance with the laws of England and Wales.
            </p>
            <p class="govuk-body-m">
                Any dispute you have which relates to these Terms of Use, or your use of Find Transport Data (whether it be contractual or non-contractual), will be subject to the exclusive jurisdiction of the courts of England and Wales.
            </p>

            <h2 class="govuk-heading-m">
                General
            </h2>
            <p class="govuk-body-m">
                We're not liable if we fail to comply with these Terms of Use because of circumstances beyond our reasonable control.
            </p>
            <p class="govuk-body-m">
                We might decide not to exercise or enforce any right available to us under these Terms of Use. We can always decide to exercise or enforce that right at a later date. Doing this once will not mean we automatically waive the right on any other occasion.
            </p>
            <p class="govuk-body-m">
                If any of these Terms of Use are held to be invalid, unenforceable or illegal for any reason, the remaining Terms of Use will still apply.
            </p>

            <h2 class="govuk-heading-m">
                Changes to these Terms of Use
            </h2>
            <p class="govuk-body-m">
                Please check these Terms of Use regularly. We can update them at any time without notice. You'll agree to any changes if you continue to use Find Transport Data after the Terms of Use have been updated.
            </p>
        </div>
    </div>
{% endblock %}