{% from "govuk/components/footer/macro.njk" import govukFooter %}

{{ govukFooter({
  meta: {
    items: [
      {
        href: "mailto:findtransportdata@dft.gov.uk",
        text: "Email us if you have questions or need help"
      },
      {
        href: "/accessibility",
        text: "Accessibility"
      },
      {
        href: "/cookies",
        text: "Cookies"
      },
      {
        href: "/privacy",
        text: "Privacy"
      },
      {
        href: "/roadmap",
        text: "Roadmap"
      }
    ]
  }
}) }}