{% from "govuk/components/breadcrumbs/macro.njk" import govukBreadcrumbs %}
{% from "govuk/components/fieldset/macro.njk" import govukFieldset %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/select/macro.njk" import govukSelect %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "govuk/components/date-input/macro.njk" import govukDateInput %}
{% from "govuk/components/hint/macro.njk" import govukHint %}
{% from "govuk/components/error-message/macro.njk" import govukErrorMessage %}
{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
{% from "govuk/components/accordion/macro.njk" import govukAccordion %}

{% extends "layouts/layout-govuk.njk" %}

{% block pageScripts %}
    {% include "includes/dataset-search-scripts/dataset-search-sort.njk" %}
{% endblock %}

{% set title = "All datasets" %}
{% block pageTitle %}{{title}} - {{ super() }}
{% endblock %}

{# START: breadcrumbs #}
{% block breadcrumbs %}
    {{ govukBreadcrumbs({
    items: [
        {
        text: "Home",
        href: "/"
        },
        {
        text: "All datasets",
        href: "/browse"
        },
        {
        text: datasetDetails.title
        }
    ]
    }) }}
{% endblock %}
{# END: breadcrumbs #}

{% set topicHeadingHtml  %}
    <span class="filter-expander-icon">
    </span>
        <div class="ftd-margin-left-40 govuk-!-font-weight-regular">
        Topic
    </div>                 
{% endset%}

{% set topicCheckbox %}

    {% set topics = [] %}
    {% for topic in topic_tags %}
        {% set label_class = {classes:"ftd-margin-bottom-12"} %}
        {% set topics = (topics.push({
            id: "topic_" + topic | replace(" ", "_") | lower,
            value: topic,
            text: topic,
            label: label_class
        }), topics) %}
    {% endfor %}
    <div class="app-c-option-select__filter govuk-!-margin-bottom-6">   
        {{ govukInput({
            label: {
                text: " Filter topics",
                classes: "govuk-visually-hidden"
            },
            id: "topic-filter",
            classes:"filter-input",
            type:"search"
            }) 
        }} 
    </div>
    {{ govukCheckboxes({
        name: "vocab_nap_topics",
        classes:"filter-checkboxes",
        items: topics
        }) 
    }}
    <div class="govuk-form-group govuk-!-margin-top-5">
        {{
            govukButton({
                text:"Apply topic filter"
            })
        }}
    </div>
{% endset%}

{% set transportModeHeadingHtml  %}
    <span class="filter-expander-icon">
    </span>
        <div class="ftd-margin-left-40 govuk-!-font-weight-regular">
        Transport mode
    </div>                 
{% endset%}

{% set transportModeCheckbox %}

    {% set transportModes = [] %}
    {% for transport_mode in transport_mode_tags %}
        {% set label_class = {classes:"ftd-margin-bottom-12"} %}
        {% set transportModes = (transportModes.push({
            id: "transport_mode_" + transport_mode | replace(" ", "_") | lower,
            value: transport_mode,
            text: transport_mode,
            label: label_class
        }), transportModes) %}
    {% endfor %}
    <div class="app-c-option-select__filter govuk-!-margin-bottom-6">   
        {{ govukInput({
            label: {
                text: " Filter transport modes",
                classes: "govuk-visually-hidden"
            },
            id: "transport-mode-filter",
            classes:"filter-input",
            type:"search"
            }) 
        }} 
    </div>
    {{ govukCheckboxes({
        name: "vocab_nap_transport_modes",
        classes:"filter-checkboxes",
        items: transportModes
        }) 
    }}
    <div class="govuk-form-group govuk-!-margin-top-5">
        {{
            govukButton({
                text:"Apply transport mode filter"
            })
        }}
    </div>
{% endset%}

{% set roadNetworkHeadingHtml  %}
    <span class="filter-expander-icon">
    </span>
        <div class="ftd-margin-left-40 govuk-!-font-weight-regular">
        Road network
    </div>                 
{% endset%}

{% set roadNetworkCheckbox %}

    {% set roadNetworks = [] %}
    {% for road_network in road_network_tags %}
        {% set label_class = {classes:"ftd-margin-bottom-12"} %}
        {% set roadNetworks = (roadNetworks.push({
            id: "road_network_" + road_network | replace(" ", "_") | lower,
            value: road_network,
            text: road_network,
            label: label_class
        }), roadNetworks) %}
    {% endfor %}
    <div class="app-c-option-select__filter govuk-!-margin-bottom-6">   
        {{ govukInput({
            label: {
                text: " Filter road network",
                classes: "govuk-visually-hidden"
            },
            id: "road-network-filter",
            classes:"filter-input",
            type:"search"
            }) 
        }} 
    </div>
    {{ govukCheckboxes({
        name: "vocab_nap_road_networks",
        classes:"filter-checkboxes",
        items: roadNetworks
        }) 
    }}
    <div class="govuk-form-group govuk-!-margin-top-5">
        {{
            govukButton({
                text:"Apply road network filter"
            })
        }}
    </div>
{% endset%}

{% set loacationHeadingHtml  %}
    <span class="filter-expander-icon">
    </span>
        <div class="ftd-margin-left-40 govuk-!-font-weight-regular">
        Location
    </div>                 
{% endset%}

{% set locationCheckbox %}

    {% set locations = [] %}
    {% for location in location_tags %}
        {% set label_class = {classes:"ftd-margin-bottom-12"} %}
        {% set locations = (locations.push({
            id: "location_" + location | replace(" ", "_") | lower,
            value: location,
            text: location,
            label: label_class
        }), locations) %}
    {% endfor %}
    <div class="app-c-option-select__filter govuk-!-margin-bottom-6">   
        {{ govukInput({
            label: {
                text: " Filter locations",
                classes: "govuk-visually-hidden"
            },
            id: "location-filter",
            classes:"filter-input",
            type:"search"
            }) 
        }} 
    </div>
    {{ govukCheckboxes({
        name: "vocab_nap_locations",
        classes:"filter-checkboxes",
        items: locations
        }) 
    }}
    <div class="govuk-form-group govuk-!-margin-top-5">
        {{
            govukButton({
                text:"Apply location filter"
            })
        }}
    </div>
{% endset%}

{% set geographicalRegionHeadingHtml  %}
    <span class="filter-expander-icon">
    </span>
        <div class="ftd-margin-left-40 govuk-!-font-weight-regular">
        Geographical region
    </div>                 
{% endset%}

{% set geographicalRegionCheckbox %}

    {% set geographicalRegions = [] %}
    {% for region in region_tags %}
        {% set label_class = {classes:"ftd-margin-bottom-12"} %}
        {% set geographicalRegions = (geographicalRegions.push({
            id: "region_" + region | replace(" ", "_") | lower,
            value: region,
            text: region,
            label: label_class
        }), geographicalRegions) %}
    {% endfor %}
    <div class="app-c-option-select__filter govuk-!-margin-bottom-6">   
        {{ govukInput({
            label: {
                text: " Filter regions",
                classes: "govuk-visually-hidden"
            },
            id: "region-filter",
            classes:"filter-input",
            type:"search"
            }) 
        }} 
    </div>
    {{ govukCheckboxes({
        name: "vocab_nap_regions",
        classes:"filter-checkboxes",
        items: geographicalRegions
        }) 
    }}
    <div class="govuk-form-group govuk-!-margin-top-5">
        {{
            govukButton({
                text:"Apply region filter"
            })
        }}
    </div>
{% endset%}

{% set timePeriodHeadingHtml  %}
    <span class="filter-expander-icon">
    </span>
        <div class="ftd-margin-left-40 govuk-!-font-weight-regular">
        Time period
    </div>                 
{% endset%}

{% set timePeriodSelection %}
    <div class="govuk-form-group">
        <label class="govuk-label" for="time-period-start-filter">
            Data coverage start
        </label>
        <div id="event-name-hint" class="govuk-hint">
            For example 05/11/2011
        </div>
        <input id="time-period-start-filter" class="govuk-input" type="date" name="ext_startdate" value={{search_ns.start_param}}>
    </div>
    <div class="govuk-form-group">
        <label class="govuk-label" for="time-period-start-filter">
            Data coverage end
        </label>
        <div id="event-name-hint" class="govuk-hint">
            For example 05/12/2011
        </div>
        <input id="time-period-end-filter" class="govuk-input" type="date" name="ext_enddate" value={{search_ns.end_param}}>
    </div>
    <div class="govuk-form-group">
        {{
            govukButton({
                text:"Apply time period filter"
            })
        }}
    </div>

{% endset%}

{% set updateFrequencyHeadingHtml  %}
    <span class="filter-expander-icon">
    </span>
        <div class="ftd-margin-left-40 govuk-!-font-weight-regular">
        Update frequency
    </div>                 
{% endset%}

{% set updateFrequencyRegionCheckbox %}

    {% set updateFrequencies = [] %}
    {% for frequency in update_frequencies %}
        {% set label_class = {classes:"ftd-margin-bottom-12"} %}
        {% set updateFrequencies = (updateFrequencies.push({
            id: "frequency_" + frequency.value | replace(" ", "_") | lower,
            value: frequency.value,
            text: frequency.name,
            label: label_class
        }), updateFrequencies) %}
    {% endfor %}
    <div class="app-c-option-select__filter govuk-!-margin-bottom-6">   
        {{ govukInput({
            label: {
                text: " Filter Update Frequency",
                classes: "govuk-visually-hidden"
            },
            id: "frequency-filter",
            classes:"filter-input",
            type:"search"
            }) 
        }} 
    </div>
    {{ govukCheckboxes({
        name: "vocab_nap_frequencies",
        classes:"filter-checkboxes",
        items: updateFrequencies
        }) 
    }}
    <div class="govuk-form-group govuk-!-margin-top-5">
        {{
            govukButton({
                text:"Apply update frequency filter"
            })
        }}
    </div>
{% endset%}

{% set organisationHeadingHtml  %}
    <span class="filter-expander-icon">
    </span>
        <div class="ftd-margin-left-40 govuk-!-font-weight-regular">
        Organisation
    </div>                 
{% endset%}

{% set organisationCheckbox %}

    {% set organisations = [] %}
    {% for organization in organization_list %}
        {% set label_class = {classes:"ftd-margin-bottom-12"} %}
        {% set organisations = (organisations.push({
            id: "organization_" + organization.name  | replace(" ", "_") | lower,
            value: organization.name,
            text: organization.display_name,
            label: label_class
        }), organisations) %}
    {% endfor %}
    <div class="app-c-option-select__filter govuk-!-margin-bottom-6">   
        {{ govukInput({
            label: {
                text: " Filter Organisation",
                classes: "govuk-visually-hidden"
            },
            id: "oranisation-filter",
            classes:"filter-input",
            type:"search"
            }) 
        }} 
    </div>
    {{ govukCheckboxes({
        name: "vocab_nap_organizations",
        classes:"filter-checkboxes",
        items: organisations
        }) 
    }}
    <div class="govuk-form-group govuk-!-margin-top-5">
        {{
            govukButton({
                text:"Filter Organisation"
            })
        }}
    </div>
{% endset%}


{% block content %}
<form
action="/browse" 
      method="get"
      role="search"
      id="search-form" 
>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl govuk-!-margin-bottom-3">
         {{ title }}
    </h1>
    {% set button %}
    <div class="ftd-search_button_wrapper ">
    {{ govukButton({
        type:"submit",
        classes:"govuk-!-margin-bottom-0 ftd-box_shadow_none",
        html: searchIcon
    }) }}
    </div>
    {% endset %}

    {{ govukInput({
        suffix: {
            html:button,
            classes:"govuk-!-padding-0 ftd-border_none"
        },
            id: "search",
            name:"q",
            value: paramValues.q ,
            classes:"govuk-input govuk-input--width-20 nap-search-text govuk-!-margin-bottom-0",
            type:"search",
            attributes: {
                placeholder:"Search for datasets",
                'aria-label':"Search for datasets",
                autofocus:true,
                autocomplete:"off"
            }
    }) }} 
  </div>
</div>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-third">
    <div class="search-filter">
        <h2 class="govuk-heading-m">Filter by</h2>
        <div class="govuk-form-group">

        {{ govukAccordion({
            id: "accordion-default",
            items: [
                {
                heading: {
                    html: topicHeadingHtml
                },
                content: {
                    html: topicCheckbox
                }
                },
                {
                heading: {
                    html: transportModeHeadingHtml
                },
                content: {
                    html: transportModeCheckbox
                }
                },
                {
                heading: {
                    html: roadNetworkHeadingHtml
                },
                content: {
                    html: roadNetworkCheckbox
                }
                },
                {
                heading: {
                    html: loacationHeadingHtml
                },
                content: {
                    html: locationCheckbox
                }
                },
                {
                heading: {
                    html: geographicalRegionHeadingHtml
                },
                content: {
                    html: geographicalRegionCheckbox
                }
                },
                {
                heading: {
                    html: timePeriodHeadingHtml
                },
                content: {
                    html: timePeriodSelection
                }
                },
                {
                heading: {
                    html: updateFrequencyHeadingHtml
                },
                content: {
                    html: updateFrequencyRegionCheckbox
                }
                },
                {
                heading: {
                    html: organisationHeadingHtml
                },
                content: {
                    html: organisationCheckbox
                }
                }
            ]
            })
        }}    
        </div>
    </div>
</div>
<div class="govuk-grid-column-two-thirds">
        <p id="filtered_result" class="govuk-body govuk-!-font-weight-bold" aria-atomic="true">
            {{ datasetCount }} {{ "results" if datasetCount > 1  else "result"  }}
        </p>

        {% set sortFieldItems = [] %}
        {% for field in sortFields %}
        {% set sortFieldItems = (sortFieldItems.push({
            value:field.value,
            text:field.name,
            selected: true if (paramValues.sort == field.value)
        }),sortFieldItems)%}
        {% endfor %}

    {{ govukSelect({
        id: "sort-input",
        name: "sort",
        classes:"ftd-min-w-10",
        label: {
            text: "Sort by",
            classes:"govuk-!-margin-right-3 ftd-inline"
        },
        items: sortFieldItems
    }) }}

    {% if filteredDatasets | length %}
            {% for package in filteredDatasets %}
                    {% include "package-item.njk" %}
                        <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
            {% endfor %}
    {% endif %}

  </div>
  </div>
</form>

{% endblock %}