<!-- Javascript -->
<script src="/assets/govuk/all.js"></script>
<script>
 document.addEventListener("DOMContentLoaded", function(event) {
  const cookieSettingNoJSElement = document.getElementById('cookie-settings__no-js')
  if(cookieSettingNoJSElement) cookieSettingNoJSElement.style = "display:none" 
});

  window.GOVUKFrontend.initAll()
</script>
