{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "govuk/components/breadcrumbs/macro.njk" import govukBreadcrumbs %}
{% from "govuk/components/select/macro.njk" import govukSelect %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/pagination/macro.njk" import govukPagination %}

{% extends "layouts/layout-govuk.njk" %}
{% block pageScripts %}
    {% include "includes/pagination-scripts/pagination-script.njk" %}
    {% include "includes/pending-publishers-scripts/edit-pending-applications.njk" %}
{% endblock %}

{% set title = "Manage organisations & publisher applications" %}
{% block pageTitle %}{{title}} - {{ super() }}
{% endblock %}


    {% set sortFieldItems = [] %}
        {% for field in sortFields %}
            {% set sortFieldItems = (sortFieldItems.push({
                value:field.value,
                text:field.name,
                selected: true if (paramValues.sortValue == field.value or field.default)
            }),sortFieldItems)%}
        {% endfor %}

{# START: breadcrumbs #}
{% block breadcrumbs %}
    {{ govukBreadcrumbs({
    items: [
        {
        text: "Main dashboards",
        href: "/admin-dashboard"
        },
        {
        html: "<span class=\"govuk-!-font-weight-bold\">Organisation & publisher applications</span>",
        href: "/admin//manage-publishers/pending"
        }
    ]
    }) }}
{% endblock %}
{# END: breadcrumbs #}



{% block content %}
    <section class="module">
        <form action="/admin/manage-publishers/pending" method="get" id="pending-forms">

            <h1 class="govuk-heading-xl govuk-!-margin-bottom-9">
                {{ title }}
            </h1>

        {{ govukSelect({
            id: "sort-input",
            name: "sort",
            label: {
            text: "Sort by",
                classes:"govuk-!-margin-right-3 ftd-inline"
            },
            formGroup:{
                classes:"ftd-inline-block"
            },
            classes:"ftd-min-w-10  ",
            items: sortFieldItems
        }) }}

        {{ govukButton({
            text: "Sort Results",
            type:"submit"
        }) }}
        </form>
        
        <div class="govuk-grid-row">
                <div class="govuk-grid-column-two-thirds">

                    {% for pendingApplication in pendingApplications %}
                        {% include "admin/manage-publishers/publisher-applications.njk" %}
                    {% endfor %}

                    {{ govukButton({
            text: "Download applications report",
            type:"button",
            classes:"govuk-!-margin-top-8",
              attributes: {
                  'id': "download_Csv"
                }
        }) }}
                </div>
            </div>
    </section>
    <div class="govuk-grid-row">

        {% set previousPage = currentPage | int - 1 %}
        {% set nextPage = currentPage | int + 1 %}

        {% set paginationItems = [] %}
        {% for i in pages %}

            {%set paginationItems = (paginationItems.push({
                number: i,
                current: true if (i == currentPage) else false,
                href: "javascript:pageNavigation("+i+","+numberOfPages+")"
            } if i != 'dots' else {ellipsis: true}),paginationItems)%}
        {% endfor %}

        {{ govukPagination({
            classes:"ftd-pagination-center govuk-!-margin-bottom-0 govuk-!-margin-top-8",
            previous: {
                href: "javascript:pageNavigation(" + previousPage + "," + numberOfPages + ")" if ((currentPage) > 1) else null
            },
            next: {
                href: "javascript:pageNavigation(" + nextPage + "," + numberOfPages + ")" if (currentPage  != numberOfPages) else null
            },
            items:paginationItems
        }) }}
    </div>
{% endblock %}