{% extends "layouts/layout-govuk.njk" %}

{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}

{% from "components/feedbackMacro.njk" import extendedFeedback %}

{# TODO: Sort out super title & how to pass it in #}
{% set title = "Homepage" %}
{% block pageTitle %}{{title}}
{% endblock %}

{% block feedback_url %}
    {{ extendedFeedback({
        feedbacklink: feedbackUrls['homepage']
  }) }}
{% endblock %}

{% block content %}
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <span class="govuk-caption-l ftd-small-heading">Find transport data</span>
        <h1 class="govuk-heading-xl">Find out what UK transport data exists and how you can access it</h1>
        <span class="govuk-caption-l govuk-!-padding-bottom-5">This is a metadata catalogue that lists public and private transport datasets in the UK. The service has been initially centred around roads datasets, but 
             <a 
          class="govuk-link" 
          href="/roadmap"
        >
          our roadmap
        </a>
        provides information about our future plans, including when we will branch out to other transport modes
        </span>

            <form method="get" action="/browse" novalidate>
                <div class="ftd-search_inputs_wrapper">
                    {{ govukInput({
                    label: {
                        classes: "govuk-label--l",
                        isPageHeading: true
                    },
                    id: "search-datasets",
                    name: "q"
                    }) }}
                    <div class="ftd-search_button_wrapper">
                        <button type="submit">
                        Search GOV.UK
                        <svg class="ftd-search__button_icon" width="27" height="27" viewBox="0 0 27 27" fill="none" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" focusable="false">
                                <circle cx="12.0161" cy="11.0161" r="8.51613" stroke="currentColor" stroke-width="3"></circle>
                                <line x1="17.8668" y1="17.3587" x2="26.4475" y2="25.9393" stroke="currentColor" stroke-width="3"></line>
                            </svg>
                        </button>
                    </div>
                </div>
            </form>

            <p class="govuk-body">Or</p>

            <div class="govuk-form-group">
                {{ govukButton({
                href: '/browse',
                text: "Browse datasets"
            }) }}
            </div>

        <h3 class="govuk-heading-m">What datasets does this catalogue signpost me to?</h3>
        <p class="govuk-body">
            This catalogue signposts you to data about roads in the United Kingdom. The metadata entries have been published by a range of public and private users. The datasets vary in content and quality.
        </p>

            <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">

            <h3 class="govuk-heading-m">Not all of the datasets are free or open</h3>
            <p class="govuk-body">
            Some datasets can only be accessed by certain users for specific purposes. You may have to pay or apply for a license to access these datasets. You can find this information in the metadata entries in this catalogue.
        </p>

            <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">

            <h3 class="govuk-heading-m">What is a metadata entry?</h3>
            <p class="govuk-body">
            This catalogue does not hold datasets. It is a list of entries about datasets that are stored elsewhere. The metadata entries describe: 
        </p>
            <ul class="govuk-list govuk-list--bullet">
                <li>What is in a dataset</li>
                <li>Where you can find a dataset</li>
                <li>Who can access the dataset and how</li>
            </ul>
        </div>

      <div class="govuk-grid-column-one-third">
        <hr class="ftd-section-border" >
        <h2 class="govuk-heading-m">Sign in or request a publisher account</h2>
        <p class="govuk-body">
            This enables you to provide details and publish your datasets
        </p>

        {{ govukButton({
            text: "Sign in",
            classes: "govuk-button--secondary"
            }) }}
        </div>
    </div>
{% endblock %}