{% extends "layouts/layout-govuk.njk" %}

{% from "components/feedbackMacro.njk" import extendedFeedback %}

{# TODO: Sort out super title & how to pass it in #}
{% set title = "Roadmap" %}
{% block pageTitle %}{{title}}
{% endblock %}

{% block feedback_url %}
    {{ extendedFeedback({
        feedbacklink: feedbackUrls['roadmap']
  }) }}
{% endblock %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            <h1 class="govuk-heading-xl">
                Roadmap
            </h1>

            <p class="govuk-body-m">
                This roadmap shows what we're working on and planning to do.
            </p>

            <p class="govuk-body-m">
                Last updated 10 September 2022.
            </p>

            <h2 class="govuk-heading-m" id="recently-shipped">
                Recently shipped
            </h2>
            <ul class="govuk-list govuk-list--bullet">
                <li>Initial service with general improvements and fixes</li>
            </ul>

            <h2 class="govuk-heading-m" id="working-on-now">Working on now</h2>
            <ul class="govuk-list govuk-list--bullet">
                <li>Geolocation improvements - features designed to improve how the data is categorised by location</li>
            </ul>

            <h2 class="govuk-heading-m" id="coming-up-next">Coming up next</h2>
            <ul class="govuk-list govuk-list--bullet">
                <li>Improved topics and categories - features designed so we can expand the site beyond the initial road focus</li>
            </ul>
        </div>
    </div>
{% endblock %}