{% from "govuk/components/character-count/macro.njk" import govukCharacterCount %}

{% extends "layouts/layout-govuk.njk" %}

{% set mainClasses = "govuk-main-wrapper--l" %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-l">Help and contact</h1>
            <p class="govuk-heading-l">
                Thank you
            </p>

             <p class="govuk-body-m">
                Someone will get back to you within 2 working days
            </p>
        </div>
    </div>
{% endblock %}