{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "govuk/components/breadcrumbs/macro.njk" import govukBreadcrumbs %}
{% from "govuk/components/fieldset/macro.njk" import govukFieldset %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/input/macro.njk" import govukInput %}

{% extends "layouts/layout-govuk.njk" %}

{# TODO: Sort out super title & how to pass it in #}
{% set username_error = true if error_summary %}
{% set password_error = true if error_summary %}

{% set error_messages = [] %}
{% for error_message in error_summary %}
    {{error_message}}
    {% set error_messages = (error_messages.push({
            text: error_message | replace("Login failed. Bad username or password.","Enter a correct username and password"),
            href: "#field-login"
            }), error_messages) %}
{% endfor %}

{% set title = "Sign in" %}
{% block pageTitle %}{{title}} - {{ super() }}
{% endblock %}

{# START: breadcrumbs #}
{% block breadcrumbs %}
    {{ govukBreadcrumbs({
    items: [
        {
        text: "Home",
        href: "/"
        },
        {
        text: "Sign in",
        href: "/login"
        }
    ]
    }) }}
{% endblock %}
{# END: breadcrumbs #}

{% block content %}
    {% if error_summary %}
        <div class="govuk-form-group govuk-form-group--error">
        {% else %}
            <div class="govuk-form-group">
            {% endif %}
            <form action="/login"  method="post">

                <div class="govuk-form-group govuk-!-margin-top-6 ">
                    {% call govukFieldset({
                    classes:"govuk-!-padding-bottom-3",
                    legend: {
                        html: "<span class=\"govuk-caption-l\" style=\"color: #1d70b8; font-weight: 700;\">Sign in to create a metadata entry</span>
                            <h1 class=\"govuk-heading-xl govuk-!-margin-bottom-6\">
                                Sign in
                            </h1>",
                        classes: "govuk-fieldset__legend--l ",
                        isPageHeading: true
                    }
                    }) %}
                    <span class="govuk-caption-l">
                            Enter the sign in details provided to you.
                        </span>

                    {% if error_summary%}
                        {{ govukErrorSummary({
                            titleText: "There is a problem",
                            errorList : error_messages
                            }) }}
                    {% endif %}

                    {{ govukInput({
                            label: {
                            text: "Username",
                            classes: "govuk-label--l",
                            isPageHeading: true
                            },
                            id: "username",
                            name: "username",
                            classes: "govuk-input--error" if username_error
                        }) }}

                    {{ govukInput({
                            label: {
                            text: "Password",
                            classes: "govuk-label--l",
                            isPageHeading: true
                            },
                            id: "password",
                            name: "password",
                            type:"password",
                            classes: "govuk-input--error" if password_error
                            }) }}
                    {% endcall %}
                </div>
                {{ govukButton({
                    text: "Sign in",
                    type: "submit"
                }) }}
            </form>

        {% endblock %}