{% extends "govuk/template.njk" %}

{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/cookie-banner/macro.njk" import govukCookieBanner %}
{% from "govuk/components/header/macro.njk" import govukHeader %}
{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}
{% from "govuk/components/skip-link/macro.njk" import govukSkipLink %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/input/macro.njk" import govukInput %}

{% set htmlLang = "en" %}
{% set themeColor = "blue" %}

{% set authorised_user =  userData.authorisedUser %}

{% set searchIcon %}
<svg class="ftd-search__button_icon" width="27" height="27" viewBox="0 0 27 27" fill="none" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" focusable="false">
  <circle cx="12.0161" cy="11.0161" r="8.51613" stroke="currentColor" stroke-width="3"></circle>
  <line x1="17.8668" y1="17.3587" x2="26.4475" y2="25.9393" stroke="currentColor" stroke-width="3"></line>
</svg>
{% endset %}

{% set button %}
<div class="ftd-search_button_wrapper ftd-inline">
  {{ govukButton({
    type:"submit",
    classes:"govuk-!-margin-bottom-0 ",
    html: searchIcon
  }) }}
</div>
{% endset %}

{% set searchHtml %}
<form action="/browse/" method="get">
  {{ govukInput({
    formGroup: {
      classes: "govuk-!-margin-bottom-0 ftd-search_inputs_wrapper ftd-inline"
    },
    suffix:{
        html:button,
        classes:"govuk-!-padding-0 ftd-border_none"
    },
    label: {
        classes: "govuk-label--l",
        isPageHeading: true
    },
    id: "search-datasets",
    name: "q",
    classes:"govuk-!-margin-bottom-0 ftd-border_none"
  }) }}
</form>
{% endset %}

{% block pageTitle %}GOV.UK - Find transport data{% endblock %}

{% block headIcons %}
  {{ super() }}
{% endblock %}

{% block head %}
  {% include "includes/head.njk" %}
{% endblock %}

{% block bodyStart %}
  {# TODO: Move this to an include #}
  {{ govukCookieBanner({
    ariaLabel: "Cookies on Find transport service",
    messages: [
      {
        headingText: "Cookies on Find transport service",
        html: "<p class=\"govuk-body\">We use some essential cookies to make this service work.</p>
               <p class=\"govuk-body\">We'd also like to use analytics cookies so we can understand how you use the service and make improvements.</p>",
        actions: [
          {
            text: "Accept analytics cookies",
            type: "button",
            name: "cookies",
            value: "accept"
          },
          {
            text: "Reject analytics cookies",
            type: "button",
            name: "cookies",
            value: "reject"
          },
          {
            text: "View cookies",
            href: "/cookies"
          }
        ]
      }
    ]
  }) }}
{% endblock %}

{% block skipLink %}
  {{ govukSkipLink({
    href: "#main-content",
    text: "Skip to main content"
  }) }}
{% endblock %}

{% block header %}
{% if userData and authorised_user %}
 <div class="account-masthead ftd-masthead">
    <div class="govuk-width-container govuk-!-padding-top-1 govuk-!-margin-bottom-0">
      <div class="govuk-grid-row ftd-masthead-height">
        <div class="govuk-grid-column-one-third">
          <a class="govuk-link ftd-masthead-no-link" href="#">You are currently signed in as {{userData.name}}</a>
          <input type="hidden" id="userid" name="userid" value="{{userData.id}}">
          <input type="hidden" id="orgname" name="orgname" value="{{ userData.name }}">
        </div>
        <div class="govuk-grid-column-two-thirds govuk-!-text-align-right">
          {% if  userData.sysadmin %}
          <a class="govuk-link ftd-masthead-link govuk-!-margin-right-3" href="">Administrator dashboard</a>
          {% endif %}
          {% if authorised_user %}
          <a class="govuk-link ftd-masthead-link govuk-!-margin-right-3" href="/user/dashboard">Your metadata entries</a>
          {% endif %}
          <a class="govuk-link ftd-masthead-link govuk-!-margin-right-3" href="">Your account</a>
          <a class="govuk-link ftd-masthead-link" href="/user/logged_out">Sign out</a>
        </div>
      </div>
    </div>
  </div>
  {% endif %}
  {# TODO: env config this #}
  {{ govukHeader({
    serviceName: "Find transport data",
    serviceUrl: "/",
    navigation: [
      {
        href: "/browse",
        text: "Browse datasets",
        active: true
      },
      ({
        href: "/dataset/new",
        text: "Create metadata entry" 
      } if authorised_user) if userData else  {
        href: "/login",
        text: "Sign in" 
      }  ,
      { 
        href: "#",
        html: searchHtml
      }
    ]
  }) }}
{% endblock %}

{% block main %}
  {{ super() }}
{% endblock %}

{% block beforeContent %}
  {% block feedback_url %}
    {% set organisationHtml %}
      This is a new service – your <a class="govuk-link" href="{{feedbackUrls['beta']}}">feedback</a> will help us to improve it.
    {% endset %}
    {{ govukPhaseBanner({
    tag: {
      text: "beta"
    },
    html:organisationHtml
  }) }}
  {% endblock %}
  {# {{ govukBackLink({
    href: "#",
    text: "Back"
  }) }} #}
  {% block breadcrumbs %}{% endblock %}
{% endblock %}

{% block content %}{% endblock %}

{% block footer %}
  {% include "components/footer.njk" %}
{% endblock %}

{% block bodyEnd %}
  {% block scripts %}
    {% include "includes/scripts.njk" %}
    {% block pageScripts %}{% endblock %}
  {% endblock %}
{% endblock %}